@import 'styles/color.scss';
@import 'styles/size.scss';

$button-width: 150px;

.form {
  display: flex;
  align-items: center;
  padding: 0;
  height: $conversation-footer-height;
  border-top: 3px solid var(--bs-gray-200);

  &__text {
    margin-top: 0;
    height: $conversation-footer-height;
    width: calc(100% - $button-width);
    border: none;
    padding: 15px;

    &::placeholder {
      color: var(--bs-gray-500);
      font-size: 1.1rem;
    }
  }

  &__button {
    height: $conversation-footer-height;
    width: $button-width;
    border-radius: 0;
    background-color: $orange-50;
    border-color: $orange-50;

    &:focus {
      background-color: $orange-50;
      border-color: $orange-50;
    }

    &_disabled,
    &_disabled:disabled {
      background-color: $orange-light;
      border-color: $orange-light;
    }
  }
}
