.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: var(--bs-white);
  border: 1px solid var(--bs-gray-300);

  &__name {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    text-transform: uppercase;
  }
}
